@charset "UTF-8";

/* External Source */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* Variables */
:root {
    --color-primary: hsl(25, 97%, 53%);

    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}

/* General Settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Overpass', sans-serif;;
}

body {
    background: var(--Very-Dark-Blue);
}

main#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sub-container {
    background-color: var(--Dark-Blue);
    max-width: 375px;
    padding: 20px 25px 20px 25px;
    border-radius: 15px;
}

figure.star img {
    background: hsla(217, 12%, 63%, 0.11);
    width: 36px;
    padding: 10px;
    border-radius: 50%;
}

div.about-container h1 {
    margin: 10px 0;
    font-size: 1.7em;
    color: var(--White);
}

div.about-container p {
    margin-bottom: 15px;
    color: var(--Light-Grey);
    line-height: 1.5;
}

div#d-flex {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    color: var(--Medium-Grey);
}

div.circle {
    background-color: hsla(217, 12%, 63%, 0.11);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

div.circle:hover {
    background-color: var(--White);
    color: var(--Dark-Blue);
}

button {
    border: none;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 50px;
    background: var(--color-primary);
    color: var(--White);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    color: var(--color-primary);
    background-color: var(--White);
}